file "$(MOTOR)/db/motor.db"
{
pattern
# N 1: VP-25XA  x00 full steps/rev, xx:x gear box, 1mm lead screw pitch = 1mm/x00/? = 0.xxx
# N 2: GTS30V   x00 full steps/rev, xx:x gear box, 1mm lead screw pitch = 1mm/x00/? = 0.xxx

{P,             N,  M,                  DTYP,     C,  S,  DESC,        EGU,  DIR,  VELO,  VBAS,  ACCL,  BDST,  BVEL,  BACC,  MRES,     PREC,  DHLM,  DLLM,  INIT}
{XF:04BMC-ES:,  1,  "DET:1-Ax:Z:Mtr",  "ESP300",  0,  0,  "DET-Z",     mm,   Pos,  1.00,  0.1,   0.2,   0,     1,     0.2,   0.0001,   3,     12.5, -12.5,  ""}
{XF:04BMC-ES:,  2,  "DET:1-Ax:Y:Mtr",  "ESP300",  0,  1,  "DET-Y",     mm,   Pos,  1.00,  0.1,   0.2,   0,     1,     0.2,   0.00005,  3,     25,   -5,     ""}
}
